<div class="row">

  <div>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Seleccione la Ciudad</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li *ngFor="let ciudad of ciudades" [class.selected]="ciudad === ciudadSeleccionada" (click)="onSelect(ciudad)">
          {{ciudad.nombre}}
        </li>
      </div>
  </div>

</div>

<div class="row">

  <div>
    <div *ngIf="ciudadSeleccionada">
      <h2>
        Partidos en la cuidad de {{ciudadSeleccionada.nombre}} 
      </h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let partido of partidos">
         {{partido.team1.sName}} <img src="{{partido.team1.sCountryFlag}}">  
         {{partido.sScore}} 
        <img src="{{partido.team2.sCountryFlag}}">  {{partido.team2.sName}} 
        </li>
      </ul>
    </div>
  </div>
</div>
</div>